<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325856690386-b0gnrhhdv06sgem4penliafth7ga32c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325856690386-b0gnrhhdv06sgem4penliafth7ga32c8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>325856690386-2ruqscramam4er2p1fh175igrpsn8dgr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmcywyn-TS_opCC4xwpDo9TNsaqQDZBvc</string>
	<key>GCM_SENDER_ID</key>
	<string>325856690386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.getapi</string>
	<key>PROJECT_ID</key>
	<string>getapi-d395c</string>
	<key>STORAGE_BUCKET</key>
	<string>getapi-d395c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325856690386:ios:03d7af9d1ad22c7017ed0b</string>
</dict>
</plist>